.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 15px;
	margin: 0;
	margin-bottom: 30px;
	border: 1px solid;
	box-shadow: 0px 5px 4px 0 #06463bac;
	border-radius: 6px;
}

.label {
	font-weight: 500;
	font-family: inherit;
	margin-bottom: 5px;
	color: #5e4874;
}

.input {
	width: 200px;
	margin-bottom: 25px;
	font-weight: 300;
	border-radius: 3px;
	border: 1px solid #5e4874;
	box-shadow: 1px 1px 2px 2px #06463bac;
}

.input:focus,
.input:hover {
	outline-color: #5e4874;
	border-radius: 3px;
	box-shadow: 0 0 1px 1px #5e4874;
}

.btn {
	width: 150px;
	border-radius: 3px;
	padding: 0px 25px;
	margin-top: 5px;
	cursor: pointer;
	color: #5e4874;
	border: gray;
	box-shadow: 1px 1px 2px 2px #06463bac;
}

.btn:focus,
.btn:hover {
	background-color: #8c7a9d;
	box-shadow: 1px 1px 2px 2px #06463bac;
}
