.menu {
	list-style: none;
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0 auto;
}

.link {
	display: inline-block;
	text-decoration: none;
	padding: 15px;
	margin: 0px 10px;
	font-weight: 700;
	color: #2a363b;

	/* &: global(.active) {
		font-weight: bold;
	} */
}

.link.active {
	color: #e84a5f;
}
