.wrapper {
	display: inline-block;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-color: rgb(197, 197, 197);
	box-shadow: 0px 5px 4px 0 #06463bac;
}

.menu {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
}

.liContacts {
	font-size: 20px;
	padding-left: 35px;
}

.liPhonebook {
	font-size: 36px;
	padding: 5px;
}

.link {
	display: inline-block;
	/* margin: 0px 50px; */
	color: #5e4874;
	text-decoration: none;
	font-weight: bold;
}

.link.active {
	color: #06463bac;
}
